@font-face {
  font-family: 'kakaoBig';
  src: url('../font/KakaoBig-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kakaoSmall';
  src: url('../font/KakaoSmall-Light.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  min-width: 1903px;
}
.inner {
  width: 100%;
  max-width: 1500px;
}
.wrap-logo{
  width: 150px;
}
.wrap-logo > img {
  width: 100%;
  object-fit: cover;
}
/* 더미 */
.dummy {
  position: relative;
  z-index: -11;
  height: 1000vh;
  background: #fff;
  margin-top: 100vh;
  /* display: none; */
}